#wholeContainer {
    margin: 2.5%;
    font-family: "Gafata";
}

#openingTitle {
    text-align: center;
    font-size: 200%;
    padding-bottom: 3%;
    margin-bottom: 3%;
    color: rgb(92, 92, 92);
    border-bottom: 2px solid rgb(92, 92, 92);
}

#mainInfoTitle {
    color: #007bff;
    font-size: 250%;
}

#monthlyPaymentHolder {
    color: rgb(92, 92, 92);
    font-size: 500%;
}

#minorInfoTitle {
    color: rgb(92, 92, 92);
}

@media screen and (min-width: 650px) {
    #outputDisplayContainer {
        display: flex;
        justify-content: space-around;
    }
    #monthlyInterestContainer,
    #loanContainer,
    #interestContainer {
        display: flex;
        justify-content: space-between;
    }

    #minorInfoLine {
        border: 1px solid #007bff;
        width: 100%;
    }

    #minorInfoContainer {
        margin-right: 5%;
    }

    #minorInfoTitle {
        margin-right: 5%;
    }
}

@media screen and (max-width: 650px) {
    #outputDisplayContainer {
        text-align: center;
    }

    #minorInfoLine {
        border: 1px solid #007bff;
        width: 50%;
    }
}

#minorInfoLine {
    border: 1px solid #007bff;
}

#totalInterestHolder,
#monthlyInterestHolder,
#monthlyLoanHolder {
    font-size: 120%;
    color: #007bff;
}

#loanForm {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}
